.button {
  background-color: transparent;
  border-color: #ebebeb;
  color: #000000;
  padding: 3px;
}

.button:hover,
.button:active {
  color: rgb(0, 0, 0);
}

.button span {
  margin: 0 0.5rem;
}

.badge {
  background-color: #edf3f2;
  border-radius: 50px;
  padding: 0.15rem 0.75rem;
  position: absolute;
  right: 0.80rem;
  top:3.75rem;
  /* color: #1d1d1d; */

}