.item {
  margin: 1rem 0;
  background-color: #758076;
  padding: 0.5rem;
}

.item h3 {
  margin: 0 0 0.5rem 0;
  font-size: 1.0rem;
}

/* .item header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
} */

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quantity img {
  width: 3rem;
  height: 3rem;
}

/* .price {
  font-size: 1.0rem;
  font-weight: bold;
} */

.itemprice {
  font-weight: normal;
  font-size: 1rem;
  font-style: italic;
}
