.button {
  background-color: white;
  border-color: white;
  border: none;
  padding: 20px;
  display: flex;
}

/* .button:hover,
.button:active {
  color: rgb(0, 0, 0);
} */

.button span {
  margin: 0 0.5rem;
}

.badge {
  align-self:flex-end;
  color: black;
  font-weight: bolder;
}
