.paginator__controls {
  display: flex;
  justify-content: center;
}

.paginator__control {
  width: 5rem;
  padding: 0.25rem 0;
  margin: 0 1rem;
  border: 1px solid #3b0062;
  background: transparent;
  font: inherit;
  cursor: pointer;
  font-size: 1rem;
  color: black;
}

.paginator__control:hover,
.paginator__control:active {
  color: grey;
  border-color: grey;
}

.paginator__control:focus {
  outline: none;
}
