.container{
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.cart {
  position: absolute;
  top: 69%;
  background-color: black;
  color: white;
  width: 100%;
  height: 3.5rem;
  padding: 2rem;
  text-align: center;
  line-height: 4px;
  font-size: larger;
  z-index: 100;
}

.addCart:hover {
  cursor: pointer;
}

.image {
  position: relative;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 70;
  opacity: 0;
  transition: opacity, 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay:hover,
.overlay:active {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 70;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay_info {
  font-size: large;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  text-transform: uppercase;
  text-align: center;
}

.feature {
  color: rgb(247, 2, 2);
}

.bestseller {
  background-color: white;
  font-style: oblique;
  color: black;
  top: 0;
  left: 8%;
  padding: 1px;
}

.header_flag {
  position: relative;
}
.header_position {
  position: absolute;
  z-index: 50;
}
