.container {
  width: 18rem;
  padding: 3rem;
}
.links {
  display: flex;
  flex-direction: column;
}
.navlink {
  list-style: none;
  margin: 0.5rem 0rem;
  text-transform:capitalize;
}
.navlink a {
  text-decoration: none;
  color: black;
}
.navlink a:hover {
  color: #f9826c;
}
.header {
  color: black;
  font-size: 1.2rem;
  font-weight: 700;
}

.container span {
  font-weight: bold;
  margin-bottom: 5px;
}

.container label{
  margin-left: 10px;
}

.subcontainer{
  padding-left: 0;
}