.sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  width: 100%;
  max-width: 73rem;
  margin: 0 auto;
}
.title {
  font-size: 1.2rem;
  font-weight: 600;
}
.sort_list {
  display: flex;
}
.sort_list_items {
  list-style: none;
  margin: 0 0.75rem;
}
